*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(0 46 77);
    gap: 55px;
    height: 11vh;
}
.logo{
    margin-left: 50px;
    height: 8vh;
    width: 8vh;
}
.logotexto{
    color: rgb(223 222 223 / 1);
}
.texto{
    color: rgb(223 222 223 / 1);
}
