/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(223 222 223 / 1) #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #ffffff00;
  }
*{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5rem;
    gap: 25px;
}
.menu ul li{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_principal{
    transition: 0.2s;
    text-decoration: none;
    color: rgb(223 222 223 / 1);
    width: 20vh;
    height: 40px;
    font-size: 20px;
    display: flex;
    gap: 25px;
    border-radius: 6px;
    padding: 1rem;
    align-items: center;
}
.a_principal:hover{
    transition: 0.2s;
    background-color: rgb(49, 65, 111);
    color: rgb(223 222 223 / 1);
}
.a_principal_active{
    transition: 0.2s;
    background-color: rgb(49, 65, 111);
    color: rgb(223 222 223 / 1);
}
.footer{
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 46 77);
    display: flex;
    align-items: center;
    height: 8vh;
    position: fixed;
}
.footer_text{
    transition: 0.2s;
    text-decoration: none;
    color: rgb(223 222 223 / 1);
    width: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 6px;
}
.img4{
    margin-left: 50px;
    width: 6vh;
}
.copyright{
    transition: 0.2s;
    text-decoration: none;
    color: rgb(223 222 223 / 1);
    width: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 6px;   
}
.str_profile{
    width: 29vh;
    flex-direction: column;
    color: rgb(223 222 223 / 1);
    display: flex;
    gap: 1rem;
}
.profile_cont_temp{
    background-color: rgb(52, 59, 60);
    width: 25vh;
    display: flex;
    flex-direction: column;
}
.profile_cont_child{
    width: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont_image_profile{
    width: 270px;
    margin-top: 20px;
    height: 270px;
}
.PFP{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 360px;
}
.cont_text_profile{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.principal_comps{
    display: flex;
    height: 81vh;
}
.container_invents{
    padding: 3rem 3rem 3rem 3rem;
    background-color: rgb(30, 36, 37);
    width: 100%;
    height: 75.5vh;
    overflow-y: scroll;
}
.btn_invent{
    width: 8vh;
    text-align: center;
    text-decoration: none;
}
