*{
  margin: 0;
  padding: 0;
  color:rgb(223 222 223 / 1);
}
.electricos_cont{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 15vh;
  gap: 2rem;
  background-color: rgb(56, 56, 56);
  border-radius: 6px;
}
.electronicos_cont{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 15vh;
  gap: 2rem;
  background-color: rgb(56, 56, 56);
  border-radius: 6px;
}
.eleferre_cont{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 15vh;
  gap: 2rem;
  background-color: rgb(56, 56, 56);
  border-radius: 6px;
}
.moddev_cont{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 15vh;
  gap: 2rem;
  background-color: rgb(56, 56, 56);
  border-radius: 6px;
}
.otros_cont{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 15vh;
  gap: 2rem;
  background-color: rgb(56, 56, 56);
  border-radius: 6px;
}
.card{
  border-radius: 6px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: rgb(0 64 106);
  height: 10vh;
  width: 20vh;
}
.txt{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cont_img{
  width: 213px;
  height: 159px;
}
.img_card{
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.input_title_cont{
  display: flex;
  gap: 40px;
}
.input_inventario input{
 width: 30vh;
 font-size: 20px;
}
.refresh_invent{
  font-size: 40px;
  position: absolute;
  right: 70px;
  cursor: pointer;
}
/* Loader */
.loader_cards{
  width: 360px;
  height: 100px;
  display: block;
  background-image: linear-gradient(100deg, transparent, rgba(38, 50, 56, 0.5) 50%, transparent 80%), linear-gradient(#FFF 100px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 100px, 100px 100px, 125px 20px, 260px 20px, 260px 20px;
  background-position: -50% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  box-sizing: border-box;
  animation: animloader_cards 1s linear infinite;
}

@keyframes animloader_cards {
  0% {
    background-position: 0% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  }
  100% {
    background-position: 100% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  }
}