.usuarios_cont{
    padding: 2rem;
    overflow-x: scroll;
    height: 63vh;
    background-color: rgb(56, 56, 56);
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.btn_view{
    width: 1rem;
    text-align: center;
    background-color: rgb(1, 122, 203);
}
.card_usuarios{
    border-radius: 6px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(104, 104, 104);
    height: 25vh;
    width: 25vh;
}
.txt{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img_gest{
    width: 100%;
    display: flex;
    justify-content: center; 
}
.loader_cards_usuarios {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 85px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0),
                      linear-gradient(#FFF 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
  }
@keyframes rikSpikeRoll {
  0% { background-size: 10px 3px;}
  16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
  66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
  83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
  100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}

}
.cont_buttons_desha{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
/* Formulario Edicion */

.form_cont_edit_users{
    min-width: 30vh;
    min-height: 45vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(104, 104, 104);
}
.warn__password-user{
    color: rgb(246, 83, 83);
    font-size: 13px;
}
.form1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image_edit img{ z-index: 10; }
.image_edit img:hover{
    transition: 0.5s;
    z-index: 1;
    filter: brightness(50%);
}
.icon_edit_image{
    z-index: 0;
    font-size: 70px;
    position: absolute;
    left: 300px;
    top: 250px;
}
.create_btn{
    height: 20px;
}
.img_regist{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estado_regist{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#img_rsg:hover{ filter: brightness(100%); transition: 0.2s; }
#img_rsg{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center
    ;padding:1rem;
    filter:brightness(50%);
    cursor:pointer;
    transition:0.2s;
}
.p_info_usu{
    width:450px;
    text-align:center;
    margin-top:10px;
    font-size:20px;
    color:#20b832;
}
.loader_gest_usuarios{
    right: -25px;
    top: -45px;
    color: #ffffff;
    font-size: 20px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
    
}
.loader_desha_gest{
    right: -25px;
    top: -45px;
    color: #ffffff;
    font-size: 20px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}