.cont_gest_electricos{
    width: 135vh;
    background-color: rgb(104, 104, 104);
    height: 80vh;
    border-radius: 6px;
    padding: 3rem;
}
.input_gest_electricos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.cont_table_electricos_items{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}
.cont_img_rows{
    width: 80px;
    height: 80px;
}
.row_items{
    width: 98%;
    background-color: rgb(104, 104, 104);
    height: 5rem;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.buttons_gest_electric{
  margin-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cont_default_row{
    width: 25vh;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.items_rows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.names_rows{
    width: 100%;
    /* border-bottom: solid 5px rgb(255, 203, 58); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
/* Modal Item Crear */

.cont_crear_item{
    width: 50vh;
    height:80vh;
    background-color: rgb(104, 104, 104);
    border-radius: 6px;
}
.loader_cont{
    width: 98%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader_rows {
    width: 8px;
    height: 48px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    animation: animloader_rows 1s linear infinite alternate;
  }
  
  @keyframes animloader_rows {
    0% {
      box-shadow: 20px 0 rgba(255, 255, 255, 0), 40px 0 rgba(255, 255, 255, 0), 60px 0 rgba(255, 255, 255, 0), 80px 0 rgba(255, 255, 255, 0), 100px 0 rgba(255, 255, 255, 0);
    }
    20% {
      box-shadow: 20px 0 white, 40px 0 rgba(255, 255, 255, 0), 60px 0 rgba(255, 255, 255, 0), 80px 0 rgba(255, 255, 255, 0), 100px 0 rgba(255, 255, 255, 0);
    }
    40% {
      box-shadow: 20px 0 white, 40px 0 white, 60px 0 rgba(255, 255, 255, 0), 80px 0 rgba(255, 255, 255, 0), 100px 0 rgba(255, 255, 255, 0);
    }
    60% {
      box-shadow: 20px 0 white, 40px 0 white, 60px 0 white, 80px 0 rgba(255, 255, 255, 0), 100px 0 rgba(255, 255, 255, 0);
    }
    80% {
      box-shadow: 20px 0 white, 40px 0 white, 60px 0 white, 80px 0 white, 100px 0 rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 20px 0 white, 40px 0 white, 60px 0 white, 80px 0 white, 100px 0 white;
    }
  }
  
.form2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.upload_btn{
    height: 4rem;
    gap: 20px;
}


.file-input{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.file-input label{
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: rgb(43, 173, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    z-index: 0;
    

}

.file{
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: sticky;
  
}
input:hover + label,
input:focus + label {
  transform: scale(1.02);
}
input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}
.file-name {
  font-size: 1rem;
  color: rgb(255, 203, 58);
  z-index: 2;
  margin-top: 50px;
}
.input:hover + label,
input:focus + label {
  transform: scale(1.02);
}
input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

/* Type Selector */
#switch[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

#text_type_selector {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 35px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

#text_type_selector:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.2s;
}

#switch:checked + #text_type_selector {
  background: #55da5e;
}

#switch:checked + #text_type_selector:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#text_type_selector:active:after {
  width: 20px;
}

/* Cont type */
.type_selector{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.option_cont{
  height: 4.4vh;
}

.btn_cont_val_el{
  margin: 20px;
}
/* ----- */

.img_edit_cont_1:hover{
  cursor: pointer;
  filter: brightness(50%);
  transition: 0.3s;
}
/* ------- configinvent---- */
.config_invent{
  width: 98%;
  background-color: rgb(56, 56, 56);
  height: 89%;
  border-radius: 6px;
  margin: 3rem;
  display: flex;
  justify-content: center;
}
.btn_ref_config_invent {
  min-width: 40vh;
  max-height: 25vh;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: auto;
}
.cont_card_config{
  padding: 2rem;
  background-color: rgb(104 104 104);
  border-radius: 6px;
}
.cont_card_config_info{
  padding: 2rem;
  /* background-color: #55da5e; */
  display: flex;
  justify-content: center;
  gap: 15px;
}
.btn_config{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  transition: 0.2s;
  width: 8vh;
}
.btn_config:hover{
  background-color: rgb(26 100 16);
  transition: 0.2s;
}
.input_config_number{
  height: 15vh;
  width: 25vh;
  font-size: 150px;
  color: #1adf27;
  text-align: center;
  background-color: rgb(165 164 164);
  border: none;
  border-radius: 6px;
}
.modal_config{
  background-color: rgb(104, 104, 104);
  min-width: 600px;
  max-width: 650px;
  min-height: 30vh;
  z-index: 10000;
  padding: 2rem;
  border-radius: 6px;
}
.row_config{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_ubi{
  width: 5rem;
  height: 3rem;
  font-size: 35px;
  background-color: rgb(165 164 164);
  border: none;
  border-radius: 6px;
  color: #1adf27;
  text-align: center;
}
.forbidden{
  color: white;
  font-size: 25rem;
}